---
import { Icon } from "astro-icon";
import Picture from "~/components/core/Picture.astro";
---

<section>
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="py-12 md:py-20">
      <div>
        <div class="relative mb-8 m-auto max-w-3xl">
          <Picture
            src={import("~/assets/images/cover.png")}
            class="mx-auto rounded-md shadow-lg bg-gray-400 dark:bg-slate-700 w-full"
            widths={[1500, 500]}
            sizes=" (max-width: 1500px) 400px, 1500px"
            alt="Hero Image"
            aspectRatio="1500:500"
          />
        </div>
      </div>
      <div class="text-center pb-10 md:pb-16">
        <h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">
          The community for
          <span class="bg-clip-text text-transparent bg-gradient-to-r from-id_green to-id_yellow">Indie Makers</span> that
          uses
          <span class="bg-clip-text text-transparent bg-gradient-to-r from-id_green to-id_yellow sm:whitespace-nowrap"
            >Django</span
          >
        </h1>
        <div class="max-w-3xl mx-auto">
          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            We are people that uses the power of Django to create amazing things. <br /> Here you'll find new friends, ideas
            and tools.
          </p>
          <div class="max-w-none px-6 flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
            <div class="flex w-full sm:w-auto">
              <a
                class="btn text-white border border-id_green bg-id_green hover:bg-id_green hover:border-id_green sm:mb-0 w-full"
                href="#"
                rel="noopener"
              >
                Join the party
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
